body {
    background-color: white;
    margin:0;
    color: #452cd6;
    font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 900;
    padding-bottom: 0px;
}

.header {
    background-color: #ff30d6;
    text-align: center;
    padding: 25px 0px 10px 0px;
}

h2 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    padding-bottom: 10px;
}

h2.round {
    color: #452cd6;
    font-size: 36px;
}

h2.tally {
    color: #452cd6;
    font-size: 36px;
    text-align: center;
}

h2.score {
    color: b#452cd6;
    background-color: #45e9ff;
    padding-top: 10px;
    font-size: 30px;
}

p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: medium;
}

p.rules {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

table.buttons {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

table.results {
    margin-left: auto;
    margin-right: auto;
}

th, td.score {
    font-family: "Arial Black", Gadget, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

img.button {
    height: 300px;
    padding: 10px 10px 10px 10px;    
}

img.button:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}