body {
    background-color: white;
    margin:0;
    color: #452cd6;
    font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
    text-align: center;
    color: #452cd6;
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 900;
    padding-bottom: 0px;
}

.header {
    background-color: #45e9ff;
    text-align: center;
    padding: 25px 0px 10px 0px;
    box-shadow: 0px 0px 8px 0px;
}

h2 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    padding-bottom: 10px;
}

h2.round {
    color: #452cd6;
    font-size: 24px;
}

h2.tally {
    color: #452cd6;
    font-size: 24px;
    text-align: center;
}

.score {
    color: white;
    background-color: #ff30d6;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    box-shadow: 8px 0px 8px 0px #452cd6;
    font-size: 14px;
}

p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: medium;
}

p.rules {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #452cd6;
}

table.buttons {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

table.results {
    margin-left: auto;
    margin-right: auto;
}

th, td.scores {
    font-family: "Arial Black", Gadget, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

img.button {
    height: 200px;
    padding: 10px 10px 10px 10px;    
}

@media (hover: hover) {
    img.button:hover {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
}
}
